<div id="" style="overflow:auto;min-height:100px; max-height: 650px; width:100%;">

<div [ngClass]="isData ? 'big-container-list':'big-container'">



    <div [ngClass]="isData ? 'col-md-12 col-xlg-12': 'col-md-11 col-xlg-6'">


        <app-breadcrumb *ngIf="breadcrumb.length>0 && !isData" [breadcrumbs]="breadcrumb" [autres]="autres"></app-breadcrumb>




        <div [ngClass]="isData ? '': 'card'">

            <div class="card-header separator" *ngIf="!isData">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><span class='breadcrumb-title'>Envoyer</span></li>
                </ol>
            </div>


            <div class="card-body">

                <ng-container *ngIf="loaded">


                    <div class="card card-default" style="border:1px solid gray;">
                        <div class="card-header  separator">
                            <div class="card-title">
                                <i class="pg-icon md-18" style="position:relative;top:5px;">drag_handle</i>
                                Bso
                            </div>
                        </div>
                        <div class="card-body">



                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-5">

                                        <div class="form-group row">

                                            <label for="name" class="col-md-4 control-label">
                                                <span class="hint-text p-t-0 fs-12">#</span>
                                            </label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    <span class="font-affichage-contenu">
                                                      
                                                        <!--<span class="fast-url"
                                                            [routerLink]="['/gmao/correctif/bso/bso/',bso.BsoID,isRetourCoP(isCorrectif)]">{{PouC(isCorrectif)}}{{bso.BsoID}}
                                                        </span>-->

                                                        <span class="fast-url" [routerLink]="['/gmao/magasin/bso/aff/',bso.BsoID,isCorrectifOuPreventif(isCorrectif)]">
                                                            {{PouC(isCorrectif)}}{{bso.BsoID}}
                                        
                                                        </span>

                                                        
                                                    </span>
                                                </label>
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <label for="name" class="col-md-4 control-label">
                                                <span class="hint-text p-t-0 fs-12">N° OT</span>
                                            </label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    <span class="font-affichage-contenu">
                                                         {{bso.ot_id}}
                                                    </span>
                                                </label>
                                            </div>

                                        </div>




                                    </div>

                                    <div class="col-5 offset-1">

                                        <div class="form-group row">

                                            <label for="name" class="col-md-4 control-label">
                                                <span class="hint-text p-t-0 fs-12">Créé par</span>
                                            </label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    <span class="font-affichage-contenu">
                                                         {{bso.name}}
                                                    </span>
                                                </label>
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <label for="name" class="col-md-4 control-label">
                                                <span class="hint-text p-t-0 fs-12">Créé le</span>
                                            </label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    <span class="font-affichage-contenu">
                                                       {{bso.created_at | date:'dd/MM/yy HH:mm'}}
                                                    </span>
                                                </label>
                                            </div>

                                        </div>


                                    </div>

                                    

                                </div>
                            </form>


                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">


                            <br>
                            <ng-container>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ng-container *ngIf="bso_det.length>0">

                                            <div id="id-div-table">

                                                <nz-table #smallTable nzSize="small" [nzFrontPagination]="false"
                                                    [nzShowPagination]="false" [nzData]="['']">
                                                    <thead>
                                                        <tr>

                                                            <th>#</th>
                                                            <th>Designation</th>
                                                            <th>Estimation</th>
                                                            <th>Action</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let outil of bso_det;let i=index;">

                                                            <td>{{outil.outil_id}}</td>
                                                            <td>{{outil.des}}</td>
                                                            <td>{{outil.estimation}} {{outil.periode}} (s)</td>
                                                            <td *ngIf="!outil.reserve">
                                                                <input type="checkbox"
                                                                    [formControl]="outil.formControl">
                                                            </td>
                                                            <td *ngIf="outil.reserve">
                                                                (reserve)
                                                            </td>


                                                        </tr>

                                                    </tbody>
                                                </nz-table>

                                            </div>
<br>
Message :
<br>
                                            <div class="row">

                                                <div class="col-md-8">
                                                    <textarea #message class="form-control" rows="2" > </textarea>
                                                </div>

                                             </div>


                                            <br>
                                        </ng-container>
                                    </div>





                                </div>
                                

  <div class="row">
                <div class="col-md-10">
                </div>
                

                <div class="col-md-2">
                
                <button   style="width:100%;" aria-label="" class="btn btn-success btn-lg btn-larger pull-right"
                    [ngClass]="true ? 'class': 'disabled'" (click)="submit()" > Envoyer
  
                    <i style='margin-left:10px;' *ngIf="LoadingReactBtn1" nz-icon nzType="loading" class="loading-icon"></i>
                </button>
            
  
                </div>
  
            


</div>

              </ng-container>

              
  
  
  
  
  
  
  <ng-container *ngIf="!loaded">
    <br><br><br>
    <div class="center-loading-box">
    
             <div class="progress-circle-indeterminate m-t-45"></div>
    </div>
    <br><br><br><br>
  </ng-container>
  
  
            </div>
          </div>
          
  </ng-container>
  

  <ng-container *ngIf="!loaded">
    <br>
    <div class="center-loading-box">
     <!--
        <i style='margin-left:10px;' nz-icon nzType="loading" class="icon icon-loading" ></i>
       -->
        <div class="progress-circle-indeterminate m-t-45"></div>
    </div>
    <br><br>
   </ng-container>

   
        </div>
      </div>
    </div>
  
  
  
  </div>

  </div>


