
<p>appercu-impression-cmd works!</p>
<input type='checkbox' checked (change)="checkbox()"> Afficher les numeros des commandes
<input type='checkbox' checked (change)="checkboxFournisseur()"> Afficher le nom de fournisseur 

<mat-dialog-content #span>
    
   <table border="2">
       <tr>
           <td>test</td>
       </tr>
   </table>

    
    <div  *ngIf="affFournisseur==true" >
    {{fournisseur}}
    </div>
    
    <div *ngIf="numCmds==1">
        Numero Commandes : 
        <span *ngFor="let num of numCmdsArr;let i=index;">
           {{num}} , 
        </span>
    </div>
   

    <div *ngFor="let article of articles;let i=index;">
      {{i}} : {{article.ArticleID}} , {{article.des}} , {{roundMath(article.QteCmde)}}
    </div>

   
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button tabindex="1" (click)="downloadPDF()">ExportPdf</button>
    <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>
