

<div class='big-container-list'>
    <div class="col-md-11 col-xlg-6">

        <app-breadcrumb *ngIf="breadcrumb.length>0" [breadcrumbs]="breadcrumb" [autres]="autres"></app-breadcrumb>

        <div class="card">
            <div id="card-header-liste" class="card-header separator">
                <ol id="breadcrumb-liste" class="breadcrumb">
                    <li class="breadcrumb-item active"><span id="id-breadcrumb-title"
                            class='breadcrumb-title'>{{lastbreadcrumb()}}</span></li>
                </ol>
            </div>

            <div id="card-body-liste" class="card-body">
                <div class="row">


                    <!------------- Filter ----------------->
                    <form id="id-filter-form" [formGroup]="filterForm" (ngSubmit)="filter()">


                        <nz-collapse [nzBordered]="true">
                            <nz-collapse-panel #idrotateicon [nzExpandedIcon]="expandedIcon" nzHeader=""
                                [nzActive]="false">


                                <table id="id-table-filter">
                                    <tr>
                                        <td id="id-table-filter-first-td"></td>
                                        <td>

                                            <div id="id-div-filter-form-horizontal" class="form-horizontal" role="form"
                                                autocomplete="off">
                                                <!------ Contenu filter ------->


                                              

                                                <div class="form-group row">
                                                    <label for="fname" class="col-md-2 control-label"
                                                        aria-required="true">Date</label>
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="input-group date col-md-12"
                                                                    style="padding:0px; margin:0px;">
                                                                    <input class='form-control input-sm' nz-input
                                                                        [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                                                                        #datemin ngModel
                                                                        [(ngModel)]="filterForm.get('datemin').value"
                                                                        formControlName="datemin" readonly>
                                                                    <owl-date-time [pickerType]="'calendar'" #dt3>
                                                                    </owl-date-time>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            <i class='icon-container'>
                                                                                <i class="pg-icon">calendar</i>
                                                                            </i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <span class="help">Date Debut</span>
                                                            </div>
                                                            <div class="col-md-3 sm-m-t-10">
                                                                <div class="input-group date col-md-12"
                                                                    style="padding:0px; margin:0px;">
                                                                    <input class='form-control input-sm' nz-input
                                                                        [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
                                                                        #datemax ngModel
                                                                        [(ngModel)]="filterForm.get('datemax').value"
                                                                        formControlName="datemax" readonly>
                                                                    <owl-date-time [pickerType]="'calendar'" #dt4>
                                                                    </owl-date-time>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            <i class='icon-container'>
                                                                                <i class="pg-icon">calendar</i>
                                                                            </i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <span class="help">Date Fin</span>
                                                            </div>

                                                        </div>




                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="fname" class="col-md-2 control-label"
                                                        aria-required="true">Statut</label>
                                                    <div class="col-md-10">

                                                        <nz-select formControlName="statut" nzMode="multiple"
                                                            nzPlaceHolder="" nzAllowClear>

                                                            <nz-option nzLabel="En Attente" nzValue="enAttente"
                                                            [nzHide]="false"></nz-option>

                                                            <nz-option nzLabel="Répondu" nzValue="accepted"
                                                                [nzHide]="false"></nz-option>

                                                            

                                                        </nz-select>

                                                    </div>
                                                </div>

                                             

                                                <div class="form-group row">
                                                    <label class="col-md-2 control-label">Equipement</label>
                                                    <div class="col-md-10">

                                                        <app-equi-node-select-multi [inputnodes]="nodes"
                                                            (emit)="ReceptNodes($event)">
                                                        </app-equi-node-select-multi>

                                                    </div>
                                                </div>


                                                <!--##### Contenu filter #####-->
                                            </div>

                                        </td>
                                    </tr>
                                </table>


                            </nz-collapse-panel>
                        </nz-collapse>


                        <ng-template #expandedIcon let-active>
                            <table id="id-bar-filter-table">
                                <tr>
                                    <td id="id-bar-filter-td-rotateicon">
                                        <i nz-icon nzType="caret-right" class="ant-collapse-arrow"
                                            [nzRotate]="idrotateicon.nzActive ? 90 : -90"></i>
                                        <i class='pg-icon md-18'>filter</i> Filtre
                                    </td>
                                    <td id="id-bar-search-filter" (click)="$event.stopPropagation()">
                                        <nz-input-group [nzSuffix]="suffixIconSearch">
                                            <input #searchFilterText formControlName="searchFilterText"
                                                class="form-control input-sm" type="text" autocomplete="off" nz-input
                                                placeholder="" id="filter" #filter />
                                        </nz-input-group>
                                        <ng-template #suffixIconSearch>
                                            <i class='pg-icon md-18'>search</i>
                                        </ng-template>
                                    </td>
                                    <td id="id-bar-filter-btns" (click)="$event.stopPropagation()">

                                        <button id="id-bar-filter-btn-first" class='btn btn-default'
                                            type="submit">Rechercher</button>
                                        <button type="button" class="btn btn-default" (click)="resetFilter()">
                                            <span> Réinitialiser </span>
                                            <!--<i class='pg-icon md-18'>refresh_alt1</i>-->
                                        </button>
                                        <label nz-checkbox name="rechercheAuto" [formControl]="rechercheAuto">
                                            RA </label>
                                    </td>
                                    <td id="id-bar-filter-last-td">
                                        <i *ngIf="loadingFilter" nz-icon [nzType]="'loading'"></i>
                                    </td>
                                </tr>
                            </table>
                        </ng-template>

                    </form>
                    <!--################# Filter ####################-->



                    <!------------------- Table ----------------------->
                    <div id="id-div-table">

                        <nz-table #smallTable nzSize="small" [nzBordered]="true" [nzFrontPagination]="false"
                            [nzShowPagination]="false" [nzData]="bsms">
                            <thead>
                                <tr>
                                    <th nzWidth="1%">
                                      #
                                    </th>

                                    <!--<th># OT</th>-->
                                    <th>Statut</th>
                                    <th>Utilisateur</th>
                                    <th>Equipement</th>
                                    <th>Date reponse</th>
                                    <th>Action</th>

                                </tr>
                            </thead>





                            <tbody>
                                <ng-container *ngFor="let bsm of smallTable.data | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: total };let i=index;">
                                <!--<ng-container *ngIf="data.statut!='planifie'" >-->
                                <tr>
                                    
                                    
                                     <td align="center">
                                        <div class="table-firsttd-height">
                                           
                                            <!--
                                            <a href="gmao/magasin/bsm/aff/{{bsm.BsmID}}/{{isCorrectifOuPreventif(bsm.isCorrectif)}}" target="_blank">
                                                {{CorP(bsm.isCorrectif)}}{{bsm.BsmID}}
                                            </a>
                                            -->

                                            {{CorP(bsm.isCorrectif)}}{{bsm.BsmID}}

                                        </div>
                                     </td>
<!--
                                   
-->
                                     <!--<td>{{bsm.ot_id}}</td>-->
                                     <td>
                                        <div class="div-statuts">
                                            <div *ngIf="bsm.statut=='enAttente'" class="label"
                                            style="padding:5px;">{{bsm.statut}}</div>
                                            <div *ngIf="bsm.statut=='accepted'" class="label label-info"
                                                style="padding:5px;">{{bsm.statut}}</div>
                                            <div *ngIf="bsm.statut=='refused'" class="label label-danger"
                                                style="padding:5px;">{{bsm.statut}}</div>

                                         </div> 
                                     </td>

                                     <td>{{bsm.name}}</td>
                                     <td>{{bsm.equipement}}</td>
                                     
                                     <!--<td>{{bsm.created_at | date:'dd/MM/yy HH:mm'}}</td>
                                    <td>{{bsm.updated_at | date:'dd/MM/yy HH:mm' }}</td>
                                     -->

                                     <td>

                                         <div *ngIf="bsm.statut=='accepted' || bsm.statut=='refused' ">
                                            {{bsm.updated_at | date:'dd/MM/yy HH:mm' }}
                                         </div>

                                    </td>
                                     

                                   

                                    
                                    
                                        <td>
                                            <ul class="list-inline m-0">

                                            <!--<ng-container *ngIf=" ( isCCR(data) && isPosts(['ChefDeEquipe']) )  || isPosts(['Admin','Methode']) ">-->
                                            
                                             <li class="list-inline-item" style="padding:0px;margin:0px;margin-right:4px;">

                                                <!--
                                                <button [routerLink]="['/gmao/magasin/bsm/aff/',bsm.BsmID,isCorrectifOuPreventif(bsm.isCorrectif)]" class="btn btn-default btn-xs rounded-0" type="button" data-toggle="tooltip"
                                                  data-placement="top" title="afficher"> <i class="pg-icon md-18"
                                                    style="width:10px;height:10px;position:relative;top:1px;">eye</i></button>
                                                -->

                                                <button (click)="openBsm(bsm.BsmID,isCorrectifOuPreventif(bsm.isCorrectif))" class="btn btn-default btn-xs rounded-0" type="button" data-toggle="tooltip"
                                                data-placement="top" title="afficher"> <i class="pg-icon md-18"
                                                  style="width:10px;height:10px;position:relative;top:1px;">eye</i></button>

                                              </li>

                                              <ng-container *ngIf="bsm.statut=='enAttente'">
                                             <li class="list-inline-item"
                                             style="padding:0px;margin:0px;margin-right:4px;">
                                             <!--<button [routerLink]="['/gmao/magasin/bsm/bsm/',bsm.BsmID,inIsCorrectifOut12(bsm.isCorrectif)]" class="btn btn-default btn-xs rounded-0" type="button"
                                                 data-toggle="tooltip" data-placement="top" title="repondre"> <i
                                                     class="pg-icon md-18"
                                                     style="width:10px;height:10px;position:relative;top:1px;">
                                                    
                                                     list_bullets
                                                    </i></button>-->

                                                    <button (click)="openAccepterBsm(bsm.BsmID,inIsCorrectifOut12(bsm.isCorrectif))" class="btn btn-default btn-xs rounded-0" type="button"
                                                    data-toggle="tooltip" data-placement="top" title="repondre"> <i
                                                        class="pg-icon md-18"
                                                        style="width:10px;height:10px;position:relative;top:1px;">
                                                        <!--arrow_right-->
                                                        list_bullets
                                                       </i></button>

                                                    


                                             </li>
</ng-container>

                                            <!--</ng-container>-->
                                                                
                                            
                                          </ul>
                                         </td>





                                    

                                </tr>
                            <!--</ng-container>-->
                        </ng-container>
                            </tbody>
                        </nz-table>

                    </div>
                    <!--################# Table ####################-->





                    <!------------------- Pagination ----------------------->
                    <table id="id-pagination-big-table">
                        <tr>
                            <td>

                                <div class="my-pagination">
                                    <table id="id-pagination-small-table">
                                        <tr>
                                            <td>
                                                <nz-select [(ngModel)]="selectedItemPerPage"
                                                    (ngModelChange)="incrementsItemsPerPage($event)">
                                                    <nz-option nzValue="5" nzLabel="5"></nz-option>
                                                    <nz-option nzValue="10" nzLabel="10"></nz-option>
                                                    <nz-option nzValue="25" nzLabel="25"></nz-option>
                                                    <nz-option nzValue="50" nzLabel="50"></nz-option>
                                                </nz-select>
                                            </td>

                                            <td>
                                                <pagination-controls maxSize="10" previousLabel="Précédent"
                                                    nextLabel="&nbsp;&nbsp;Suivant&nbsp;&nbsp;"
                                                    (pageChange)="getBsms($event)" id="server">
                                                </pagination-controls>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </td>
                        </tr>
                    </table>
                    <!--################# Pagination ####################-->










                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #iconTpl>
    <!--<i class="pg-icon md-18" style="color: red;">alert_warning</i>-->
    <i nz-icon nzType="exclamation-circle" nzTheme="outline"  style="color: red;"></i>
  </ng-template>









<!--
<form [formGroup]="filterForm">
    Date Min:
    <input type="date"  class="inputDate"  [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" formControlName="datemin" readonly>
    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
    Date Max:
    <input type="date"  class="inputDate"  [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" formControlName="datemax" readonly>
    <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
<br>
<input autocomplete="off" #searchFilterText formControlName="searchFilterText" placeholder="Search...">

<mat-form-field>
     <mat-select  formControlName="statut"   multiple> 
       <mat-option value='enAttente' >En Attente</mat-option>
       <mat-option value='accepted'>Accepté</mat-option>
     </mat-select>
 </mat-form-field>

<br>
<app-equi-node-select-multi  [inputnodes]="nodes" (emit)="ReceptNodes($event)" ></app-equi-node-select-multi>

<br>
<button (click)="filter()">Search</button>
<button (click)="resetFilter()">Reset</button>

</form>

Rechecrche Automatique  : <input type="checkbox"  name="rechercheAuto" [formControl]="rechercheAuto" checked>


<table border='1'>

<thead>
    <td>BsmID</td>
    <td>OtID</td>
    <td>Statut</td>
    <td>user</td>
    <td>Equipement</td>
    <td>Date D'acceptation</td>
    <td>Action</td>
   
</thead>
<tbody>
    <ng-container *ngFor="let bsm of bsms | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: total };let i=index;">
        <tr>
         <td>
                <a href="/correctif/bsm/bsm/{{bsm.BsmID}}/{{inIsCorrectifOut12(bsm.isCorrectif)}}" target="_blank">{{bsm.BsmID}}</a> 
         </td>

         <td>{{bsm.ot_id}}</td>
         <td>{{bsm.statut}}</td>
         <td>{{bsm.name}}</td>
         <td>{{bsm.equipement}}</td>
         <td>{{bsm.created_at}}</td>
         <td>{{bsm.updated_at}}</td>
         <td>
            <a href="/correctif/bsm/bsm/{{bsm.BsmID}}/{{inIsCorrectifOut12(bsm.isCorrectif)}}" target="_blank">(A)</a>
             <ng-container *ngIf="bsm.statut=='enAttente'">
                <a href="/magasin/bsm/bsm/{{bsm.BsmID}}/{{inIsCorrectifOut12(bsm.isCorrectif)}}" target="_blank">Repondre</a>
             </ng-container>
         </td>
        </tr>
    </ng-container>

        <tr>
        <td colspan='20'>
        <div  class="my-pagination">
            <table border='0'><tr style="vertical-align:top;"><td>
               <select (change)="incrementsItemsPerPage($event)">
                   <option [value]="5">5</option>
                   <option [value]="10">10</option>
                   <option [value]="15" selected>15</option>
                   <option [value]="20">20</option>
                   <option [value]="25">25</option>
               </select>
           </td><td width='30px' align="center" >
               <span *ngIf="loadingFilter" >...</span>
           </td><td align="left" >
             <pagination-controls
                             maxSize="10"
                             previousLabel="Precedent"
                             nextLabel="Suivant"
                            (pageChange)="getBsms($event)" id="server">
             </pagination-controls>
           </td></tr></table>  
       </div>

    </td></tr>
    
   
</tbody>

</table>
-->
