
@import './../../../../../assets/my-styles/pagination-complet.scss';





//@import './../../../../../assets/my-styles/pagination-complet.scss';




// :not(.pagination-previous.disabled)
/*
.my-pagination ::ng-deep .ngx-pagination li:hover.pagination-previous.disabled {
   
    border-color: #ff1818;
    color:green; 
}





.my-pagination ::ng-deep .ngx-pagination a:focus, .ngx-pagination button:focus {
    
    border-color:yellow;
    //border-color: #1890ff;
    //-webkit-transition: all 0.3s;
    //transition: all 0.3s;
}

*/



