
i{
position: relative;
    top: 3px;
   
}


/*
.table-select-tree{
	  
    // border: 3px dashed gray; //$color-contrast-low;
     
     
border-radius: 4px;
border: 1px solid gray;// $color-contrast-low;
//width:initial;
//height: 20px;
display:block;
display: inline-block;


border-radius: 2px;
background-color: //$color-contrast-lowest;
text-align: left;
cursor: pointer;
-webkit-transition: border-color 0.3s ease;
transition: border-color 0.3s ease;
display: inline-flex;
vertical-align: top;
margin: 5px;


 }
 
 .table-select-tree:hover {
border-color: red;
background-color: green;

}
*/



.ant-collapse-item {
    border-color: white;
}