<p>index works!</p>


---- sofien ---- <br> 
<div>a</div><div>b</div>
<br>
_____
<br>
<span>x</span><span>z</span>

<br> #################### ACHAT ##################### <br>

<br> -------- Fournisseur -------- <br>
<a [routerLink]="['/achat/fournisseurs/addoredit']">Ajouter Un Fournisseur</a>
<br>
<a [routerLink]="['/achat/fournisseurs/all']">Liste Des Fournisseurs</a>

<br> -------- Demande D'achat -------- <br>

<a [routerLink]="['/achat/da/add']">Ajouter Une demande</a>
<br>
<a [routerLink]="['/achat/da/gererda/das']">Liste De Demandes D'achat</a>


<br> -------- Commande --------- <br>

<a [routerLink]="['/achat/cmd/add']">Ajouter Une Commande</a>
<br>
<a [routerLink]="['/achat/cmd/liste']">Liste Commandes</a>
<br>
<a [routerLink]="['/achat/cmd/corbeille']">Corbeille (Liste Commande supprimeés) </a>
<br>
<a [routerLink]="['/achat/cmd/imprimer']">Iprimer Commande </a>

<br> -------- Reception --------- <br>

<a [routerLink]="['/achat/cmd/receptions/liste']">Lisre receptions  </a>
<br>
<a [routerLink]="['/achat/cmd/modifs/liste']">Lisre Modifications de Reception  </a>

<br> ------- Bon -------- <br>

<a [routerLink]="['/achat/facture/add']">add Bon </a>
<br>
<a [routerLink]="['/achat/cmd/bons/0']">Liste Bons </a>
<br>
<a [routerLink]="['/achat/cmd/bons/1']">Liste Bons Corbeille </a>

<br> ------- Facture -------- <br>
<a [routerLink]="['/achat/facture/add']">add facture </a>
<br>
<a [routerLink]="['/achat/facture/all']">Liste factures</a>

<br> ------- Retours -------- <br>

<a [routerLink]="['/achat/retour/retours/0']">Liste Retours</a>

<br> #################### MGASIN ##################### <br>

<br> ------- Article -------- <br>

<a [routerLink]="['/magasin/articles/all']">articles</a>
<br>
<a [routerLink]="['/magasin/articles/addoredit']">Ajouter article </a>
<br>
<a [routerLink]="['/magasin/articles/addsf']">Ajouter sous famille </a>

<br> ------- Outils -------- <br>
<a [routerLink]="['/magasin/outils/all']">outils</a>
<br>
<a [routerLink]="['/magasin/outils/addoredit']">add</a>
<br>
<a [routerLink]="['/magasin/outils/outil/1']">Afichage Outil 1</a>
<br>
<a [routerLink]="['/magasin/outils/outils/0']">Liste outils</a>
<br>
<a [routerLink]="['/magasin/outils/outils/1']">Liste outils ( corbeille ) </a>
<br>
<a [routerLink]="['/magasin/outils/adduse']">add Utilisation</a>
<br>
<a [routerLink]="['/magasin/outils/utilisations/0']">Liste Utilisations</a>
<br>
<a [routerLink]="['/magasin/outils/utilisation/1']">Afficher Utilisation 1</a>
<br>
<a [routerLink]="['/magasin/outils/utilisations/1']">Corbeille Liste Utilisations</a>
<br>

<br> ------- Outils 2 -------- <br>

<a [routerLink]="['/magasin/outil/adduse']">add Utilisation</a>
<br>
<a [routerLink]="['/magasin/outil/adduse/1']">Modification  Utilisation 1</a>
<br>
<a [routerLink]="['/magasin/outil/use/1']">aff bso use 1</a>
<br>

<br> ------- Inventaire -------- <br> 
<a [routerLink]="['/magasin/inv/beforeadd']">Before Add Inventaire</a> 
<br> 
<a [routerLink]="['/magasin/inv/inventaire/1']">Affichage Inventaire 1</a> 
<br>
<a [routerLink]="['/magasin/inv/inventaires']">Liste Inventaires</a>
<br>

<br> ------- Equipement -------- <br> 
<a [routerLink]="['/equipement/equi/arbre']">Arbre</a> 
<br> 

<br> -- Anomalie -- <br>
<a [routerLink]="['/equipement/anomalie/add/0']">Add Anomalie</a> 
<br>
<a [routerLink]="['/equipement/anomalie/list']">Liste Anomalie</a> 
<br>
<a [routerLink]="['/equipement/anomalie/fusionner']">Fusionner Anomalie</a> 
<br>
<br> -- Tache -- <br>
<a [routerLink]="['/equipement/tache/add/0']">Add tache</a> 
<br>
<a [routerLink]="['/equipement/tache/list']">Liste taches</a> 
<br>
<br> ------------- DI ----------- <br> 
<a [routerLink]="['/correctif/di/di/1']">Aff DI 1</a> 
<br>
<a [routerLink]="['/correctif/di/add/0']">Add DI</a> 
<br>
<a [routerLink]="['/correctif/di/dis']">Liste dis</a>
<br>
-- Planification-- <br>

<a [routerLink]="['/correctif/di/plan/1']">Planifier Di 1</a>
<br>
<a [routerLink]="['/correctif/plan/plans']">list plans</a>
<br>
<a [routerLink]="['/correctif/plan/calender']"> calender plan </a>
<br>




<br> ------------- OT ----------- <br> 
<a [routerLink]="['/correctif/ot/add/0']">Add OT</a>
<br>
<a [routerLink]="['/correctif/ot/edit/2']">Modifier OT 2</a>
<br>
<a [routerLink]="['/correctif/ot/ots']">Liste Ots</a>
<br>
<br> ------------- BSM ----------- <br> 
<a [routerLink]="['/correctif/bsm/test']">Add Bsm [OtID Manuel]</a> 
<br>
<a [routerLink]="['/correctif/bsm/bsm/1']">Afficher Bsm 1</a>
<br>
<a [routerLink]="['/magasin/bsm/bsm/1']">Accepter Bsm 1</a>
<br>
<a [routerLink]="['/correctif/bsm/test']">Just test OtID Manuel</a>
<br>

<a [routerLink]="['/correctif/outil/test']">Add Outil [OtID Manuel] </a> 
<br>

<a [routerLink]="['/magasin/bsm/bsms']">List Bsm</a> 
<br>

<br> ------------- BSO ----------- <br> 

----- Magasinier -----<br>

<a [routerLink]="['/magasin/bso/aff/1']">Afficher Bso 1</a>
<br>
<a [routerLink]="['/magasin/bso/bso/3']">Accepter Bso 3</a>
<br>
<a [routerLink]="['/magasin/bso/gerer/2']">gerer Bso 2</a>
<br>
<a [routerLink]="['/magasin/bso/bsos']">bso list</a>
<br>

----- correctif -------<br>

<a [routerLink]="['/correctif/bso/test']">Add Bso [OtID Manuel]</a> 
<br>
<a [routerLink]="['/correctif/bso/bso/1']">Afficher Bso 1 </a>
<br>




<br> --------------- Bon De Travail -------------- <br>

<a [routerLink]="['/correctif/bon/add/1']">Add Bon OtID 1</a> 
<br>
<a [routerLink]="['/correctif/bon/bon/1']">Affichage Bon 1</a> 
<br>
<a [routerLink]="['/correctif/bon/bons']">list bons</a> 
<br>

<br> --------------- Bon De Travail -------------- <br>

<a [routerLink]="['/magasin/retour/retours']">list retours</a> 
<br>
<a [routerLink]="['/magasin/retour/retour/1']">Affichage retour 1</a> 
<br>
<a [routerLink]="['/magasin/retour/add/1']">add ou modif retour 1</a> 
<br>

<br> --------------- Prevntif -------------- <br>

<a [routerLink]="['/preventif/intervention/addoredit']">add intervention</a> 
<br>
<a [routerLink]="['/preventif/plans/list']">plans list</a> 
<br>
<a [routerLink]="['/preventif/otp/add/1/0']"> Executer Plan 1 </a> 
<br>

<a [routerLink]="['/preventif/otp/otps']"> list otps </a> 
<br>



<!--
<a [routerLink]="['/correctif/bsm/bsm/1']">Afficher Bsm 1</a>
<br>
<a [routerLink]="['/magasin/bsm/bsm/1']">Accepter Bsm 1</a>
<br>
<a [routerLink]="['/correctif/bsm/test']">Just test OtID Manuel</a>
<br>

<a [routerLink]="['/correctif/outil/test']">Add Outil [OtID Manuel] </a> 
<br>
-->



 













