<!--
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

    <input type="hidden"  name="BsmDetID" #BsmArticleID="ngModel" [(ngModel)]="formData.BsmDetID">
    <input type="hidden"  name="BsmID" #BsmID="ngModel" [(ngModel)]="formData.BsmID">
    <input type="hidden"  name="des" #des="ngModel" [(ngModel)]="formData.des" >
    <input type="hidden"  name="unite" #unite="ngModel" [(ngModel)]="formData.unite" >
    <input type="hidden"  name="stock" #stock="ngModel" [(ngModel)]="formData.stock" >


  
<table border='1'>
    <thead>
        <td>Article</td>
        <td>Qte</td>
        <td>Unite</td>
        <td>Disponible</td>
        <td>Motif</td>
    </thead>
    <tbody>
        <tr>
            <td>
                <mat-form-field>
                    <mat-select name="article_id" [placeholder]="formData.des" ngModel  [(ngModel)]="formData.article_id"  (ngModelChange)="updateNameAndUnite($event)"  >
                      <mat-option>
                        <ngx-mat-select-search  ngModel  [formControl]="bankServerSideFilteringCtrl" [searching]="searching"  placeholderLabel="Chercher Article ..."  noEntriesFoundLabel="'Aucune Article'" ></ngx-mat-select-search>
                      </mat-option>
                        <mat-option *ngFor="let bank of articleList" [value]="bank.ArticleID">
                        {{bank.des}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </td>
            <td>
                <input name="qte" #qte ngModel [(ngModel)]="formData.qte" class="form-control">
            </td>
            <td>
                {{formData.unite}}
            </td>
            <td>
                {{formData.stock}}
            </td>
            <td>
                <input name="motif" #motif ngModel [(ngModel)]="formData.motif" class="form-control">
            </td>
        </tr>
    </tbody>
</table>
     
    



<div class="form-group">
  <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
  <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
</div>

</form>

-->




<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden"  name="BsmDetID" #BsmArticleID="ngModel" [(ngModel)]="formData.BsmDetID">
  <input type="hidden"  name="BsmID" #BsmID="ngModel" [(ngModel)]="formData.BsmID">
  <input type="hidden"  name="des" #des="ngModel" [(ngModel)]="formData.des" > <!-- des des des -->
  <input type="hidden"  name="unite" #unite="ngModel" [(ngModel)]="formData.unite" >
  <input type="hidden"  name="stock" #stock="ngModel" [(ngModel)]="formData.stock" >

<div id="id-div-table">

  <nz-table #smallTable nzSize="small" [nzFrontPagination]="false" [nzShowPagination]="false"
    [nzData]="['']">
    <thead>
      <tr>
       
        <th nzWidth="30%">Article</th>
        <th nzWidth="10%">Qte</th>
        <th nzWidth="10%">Unité</th>
        <th nzWidth="10%">Stock</th>
        <th nzWidth="40%">Motif</th>

      </tr>
    </thead>
    <tbody>

      <tr>
        <td>

          <!--
            <mat-form-field>
                <mat-select name="article_id" [placeholder]="formData.des" ngModel  [(ngModel)]="formData.article_id"  (ngModelChange)="updateNameAndUnite($event)"  >
                  <mat-option>
                    <ngx-mat-select-search  ngModel  [formControl]="bankServerSideFilteringCtrl" [searching]="searching"  placeholderLabel="Chercher Article ..."  noEntriesFoundLabel="'Aucune Article'" ></ngx-mat-select-search>
                  </mat-option>
                    <mat-option *ngFor="let bank of articleList" [value]="bank.ArticleID">
                    {{bank.des}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          -->
 
    <nz-select name="article_id" nzShowSearch nzServerSearch [nzPlaceHolder]="formData.des" (ngModelChange)="updateNameAndUnite($event)"
    [(ngModel)]="formData.article_id"  [nzShowArrow]="false" [nzFilterOption]="nzFilterOption" (nzOnSearch)="search($event)">
    
    <ng-container *ngFor="let o of articleList">
      <nz-option *ngIf="!isLoading" [nzLabel]="o.des" [nzValue]="o.ArticleID"></nz-option>
    </ng-container>

    <ng-container *ngIf="articleList.length==0">
      <nz-option [nzLabel]="formData.des" [nzValue]="formData.article_id"></nz-option>
    </ng-container>

    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
      <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
    </nz-option>

    </nz-select>


        </td>
        <td>
            <!--<input name="qte" #qte ngModel [(ngModel)]="formData.qte" class="form-control">-->

            <nz-input-number name="qte"  #qte [(ngModel)]="formData.qte" [nzMin]="0" [nzStep]="1"></nz-input-number>

        </td>
        <td>
            {{formData.unite}}
        </td>
        <td>
            {{formData.stock}}
        </td>
        <td>
            <input name="motif" #motif ngModel [(ngModel)]="formData.motif" class='form-control input-sm' >
        </td>
    </tr>

    </tbody>
  </nz-table>

</div>


<br>
<div class="form-group" style="float:right;">
  <button type="submit" class="btn btn-default"><i class="fa fa-database"></i> Envoyer</button>
  <!--&nbsp;
  <button type="button" class="btn btn-default" [mat-dialog-close]><i class="fa fa-close"></i> Ferme </button>-->
</div>

</form>


