.matInput-number {
    width:70px;
}

.input-error{
/*border: 1px solid #FF0000;*/
background: #FA8072 !important;
}

.active-tr{
    background-color: rgb(241, 252, 242);
}
.refused-tr{
    background-color: rgb(252, 243, 243);
}