<!--
    <ng-container *ngIf="true">
    {{nbDi}} , {{success}}
</ng-container>
-->

<!--b-grey b-l b-r-->
<!--
<ul class="d-lg-inline-block d-none notification-list no-margin   no-style p-l-20 p-r-20" >
    <li class="p-r-10 inline">
        <div class="row" style="margin-top:15px;">
            <div class="col">
                <h6 class="no-margin">{{nbDi}}</h6>
                <p class="small hint-text">DI</p>
            </div>
            <div class="col">
                <h6 class="no-margin">{{nbDi}}</h6>
                <p class="small hint-text">DA</p>
            </div>
            <div class="col">
                <h6 class="no-margin">{{nbDi}}</h6>
                <p class="small hint-text">Intervention</p>
            </div>
            <div class="col">
                <h6 class="no-margin">{{nbDi}}</h6>
                <p class="small hint-text">Bsm</p>
            </div>
            <div class="col">
                <h6 class="no-margin">{{nbDi}}</h6>
                <p class="small hint-text">Bso</p>
            </div>
            <div class="col">
            </div>

        </div>

    </li>
</ul>
-->

<ul class="d-lg-inline-block d-none notification-list no-margin   no-style p-l-20 p-r-20" >
    <li class="p-r-10 inline">
        <ul class="list-inline no-margin">
            <li class="p-r-25">
              <p class="hint-text all-caps font-montserrat small no-margin ">DI</p>
              <p class="all-caps font-montserrat  no-margin text-success">14</p>
            </li>
            <li class="p-r-25">
              <p class="hint-text all-caps font-montserrat small no-margin ">OT</p>
              <p class="all-caps font-montserrat  no-margin text-warning ">24</p>
            </li>
          </ul>
    </li>
<!--
    <li class="p-r-10 inline">
    <div class="row" style="margin-top:8px;">
        <div class="col">
            <h6 class="no-margin">{{nbDi}}</h6>
            <p class="small hint-text">DI</p>
        </div>
        <div class="col">
            <h6 class="no-margin">{{nbDi}}</h6>
            <p class="small hint-text">DA</p>
        </div>
        <div class="col">
            <h6 class="no-margin">{{nbDi}}</h6>
            <p class="small hint-text">Intervention</p>
     </div>
     </div>
    </li>
-->

   


</ul>